header {
	background-color: #A1B7C8;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.contacts__social-list {
	display: flex;
}

.header__contacts-burger {
	background-color: transparent;
	width: 27px;
	height: 14px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: none;
}


.header__contacts-burger span {
	width: 27px;
	background-color: white;
	height: 2px;
	gap: 4px;
}